body {
    font-family: 'Poppins', sans-serif;
  }  
.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f4f8;
  }
  
  .main-div h1 {
    color: #2c3e50;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .main-div button {
    background-color: #7dcea0;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.6s ease;
    border: 3px solid black;
  }
  
  .main-div button:hover {

    background-color: #58d68d;
    
  }
  